<% include header %>
<div id="content">
 <h1>Why this exists</h1>
 <p>We created API atlas as a tool to figure out how much the API community buys into existing specs, and how people are paving their own way. </p>
 <p>The idea was born out of a session at the 2013 <a href="http://apicraft.org/">APICraft Conference</a>, titled <a href="https://github.com/apicraft/detroit2013/wiki/What-can-we-use-from-HTTP%3F">"What can we use from HTTP."</a>
	 </div>
<% include footer %>

