<p>
    <%  //logged in
    if(typeof(user) == 'object' && user != null){  
        
        %>
    
        <a href="/logout?last=<%= name %>">Logout <%= user.displayName %></a> 
    <% } else { 
        //not logged in 
    %>
        <a href="/auth/github?last=<%= name %>">Login</a> with github...<br/>
    <% } %>
</p>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>

</body>
</html>