<html>
<head>

    <script type="text/javascript">
        <% if(page == 'home' ){ %> var resources = <%- data %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>

</head>
<body class="<%= page %>" id="<%= page %>">
<% if(page != 'home'){ %> <p><a href="/">Home</a></p> <% } %>