<html>
<head>
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' ){ %> var resources = <%- data %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>
    <!--
    <link rel="stylesheet" type="text/css" href="/css/reset.css" /> <!-- normalize browser styles -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" /><!-- the main stylesheet -->

</head>
<body class="<%= page %>" id="<%= page %>">
<% if(page != 'home'){ %> <p><a href="/">Home</a></p> <% } %>