<% include header %>
    <div class="resource">
				<h1>API Atlas</h1>
				<h2>&#8220;What can HTTP teach us about building APIs?&#8221;</h2>
				<p>We've asked developers from around the web how they serve HTTP codes in their APIs. <br/> Tell us if do or don't use these codes by voting below. </p>
    </div>
	
        <% for(var i=0; i < resources.length; i++){ 
           resource = resources[i];
           %>
          <h2><%= resource.title %></h2>
          <table id="<%= resource.id %>" class="<%= resource.title.toLowerCase() %> table"></table>
           
        <% } %>
        
<% include footer %>

