<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript" src="//use.typekit.net/cwi6ela.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
        <% if(page == 'home' || page == 'grid' || page == 'vis'){ %> var resources = <%- JSON.stringify(data) %>; <% } %>
        <% if(page == 'resource' ){ %> var updateURL = "<%- updateURL %>"; <% } %>
    </script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> <!-- icons, yo -->
    <style>
    
    </style>

</head>
    
<body class="home" id="home" data-auth="false">


<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Site Title</a>

    <ul>
        <li class="pure-menu-selected"><a href="#">Home</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Finance</a></li>
    </ul>
</div>


    <div class="pure-g-r">
        
            <!--
            By default, grid units don't have any margin/padding.
            If you want to add these, put them in a child container.
            -->
            <div class="resource resource_449 code pure-u-1-5">
                <div class="content yellowbar_10">
                    <h3 class="name">449</h3>
                    <div class="stats">
                        <span class="percent">10%</span> Usage.<br> <span class="votes">165</span> Votes.
                    
                    </div>
                </div>
                
            </div>
        
            <div class="resource resource_449 code pure-u-1-5">
                <div class="content yellowbar_10">
                    <h3 class="name">449</h3>
                    <div class="stats">
                        <span class="percent">10%</span> Usage.<br> <span class="votes">165</span> Votes.
                    
                    </div>
                </div>
                
            </div>
    </div>

        

        
    </div>

    
<div id="footer"> </div>
    
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script type="text/javascript" >
$(function(){
    console.log("jquery is up");
    
});    
</script>

</body>
</html>