<% include header %>

<div class="rows top">
    <div class="col title">
        <div class="content">
            <img src="images/atlas_title.png" alt="API Atlas"/>
        </div>    
    </div>
    <div class="col verbs"></div>
    <div class="col headers headers_0"></div>
    <div class="col headers headers_1"></div>
    <div class="col headers headers_2"></div>
</div>

<div class="rows bottom">
    <div class="col codes codes_0"></div>
    <div class="col codes codes_1"></div>
    <div class="col codes codes_2"></div>
    <div class="col codes codes_3"></div>
    <div class="col codes codes_4"></div>
    <div class="col codes codes_5"></div>
</div>

<% include footer %>