<% include header %>
    <div id="atlas-intro" class="pure-g-r">
        <div class="pure-u-1">
			<div class="content">
            	<h1>Spec: HTTP</h1>
			</div>
        </div>
		<div class="pure-u-1-2">
			<div class="content">
				<h2><i class="fa fa-compass"></i> Explore <i class="fa fa-arrow-down"></i></h2>
				<p>Click on individual componenets of the HTTP spec to learn more about them.</p>
			</div>
		</div>
		<div class="pure-u-1-2">
			<div class="content">
				<h2><a href="#login-confirm" class="pure-button-primary">Login to Vote</a></h2>
				<p>Login with github and tell us which components of the HTTP spec you use or serve when building APIs</p>
			</div>
			
		</div>
    </div>
    <div id="resources" class="pure-g-r">
        
    </div>

<% include footer %>