body{width:100%;*zoom:1}body:before,body:after{content:"";display:table}
body:after{clear:both}
html,body{margin:0;padding:0}
body{font-weight:300}body.resource{background-color:#eee}
@media screen and (min-width:640px){}
.wf-loading{visibility:hidden}
.wf-active #page nav{display:block;width:100%;margin:0 0;*zoom:1;background-color:#eee;position:absolute}.wf-active #page nav:before,.wf-active #page nav:after{content:"";display:table}
.wf-active #page nav:after{clear:both}
.wf-active #page nav a,.wf-active #page nav #search{display:inline;float:left;width:16.666666666666664%;margin:0 0;display:block;padding:.5em inherit;text-align:center;color:#939597}
.wf-active #page nav a{text-decoration:none}.wf-active #page nav a:hover{color:#fff;background-color:#939597}
.wf-active #page nav li{display:inline}
.wf-active #page nav #search{text-align:right;display:inline;float:left;width:33.33333333333333%;margin:0 0}.wf-active #page nav #search .content{padding:0 1em}
.wf-active #page nav #search input{display:inline;width:40%;margin:0 1em;padding:.2em .5em;border-radius:.5em;border:1px solid #939597;font-size:1em}
.wf-active #page #hero{display:block;width:100%;margin:0 0;*zoom:1;display:table;padding:2em 0 3em 0;border-bottom:1px solid #eee;background-color:#fff;padding-top:6em}.wf-active #page #hero:before,.wf-active #page #hero:after{content:"";display:table}
.wf-active #page #hero:after{clear:both}
.wf-active #page #hero .resource{display:inline;float:left;width:83.33333333333334%;margin:0 0;text-align:center;font-weight:300}.wf-active #page #hero .resource h1{font:italic 700 24.85em/0.6em "chaparral-pro-display",sans-serif}
.wf-active #page #hero .resource h2{font-weight:300;font-size:1.5em;padding-top:1em}
.wf-active #page #hero .resource p{padding-top:1em;font-size:1.3em}
.wf-active #page #hero .scrub{display:inline;float:left;width:8.333333333333332%;margin:0 0;background-color:transparent}.wf-active #page #hero .scrub a{display:block;height:10em}
.wf-active #page #hero .scrub .flyover{display:none;position:fixed;width:15em;height:7em;left:5em;top:6.5em;background-color:#fff;padding:.6em;border-radius:.5em;color:#444}.wf-active #page #hero .scrub .flyover h5{height:25%;font-size:1.2em}
.wf-active #page #hero .scrub .flyover p{height:75%;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;max-height:4.8em;line-height:1.2em}
.wf-active #page #hero .scrub a:hover .flyover{display:block}
.wf-active #page #hero .scrub.previous .flyover{background:#fff;border:4px solid #ddd}.wf-active #page #hero .scrub.previous .flyover:after,.wf-active #page #hero .scrub.previous .flyover:before{right:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.wf-active #page #hero .scrub.previous .flyover:after{border-color:rgba(136,183,213,0);border-right-color:#fff;border-width:30px;top:50%;margin-top:-30px}
.wf-active #page #hero .scrub.previous .flyover:before{border-color:rgba(194,225,245,0);border-right-color:#ddd;border-width:36px;top:50%;margin-top:-36px}
.wf-active #page #hero .scrub.next{text-align:right}.wf-active #page #hero .scrub.next .flyover{left:inherit;right:5em;text-align:left;background:#fff;border:.2em solid #ddd}.wf-active #page #hero .scrub.next .flyover:after,.wf-active #page #hero .scrub.next .flyover:before{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.wf-active #page #hero .scrub.next .flyover:after{border-color:rgba(136,183,213,0);border-left-color:#fff;border-width:30px;top:50%;margin-top:-30px}
.wf-active #page #hero .scrub.next .flyover:before{border-color:rgba(194,225,245,0);border-left-color:#ddd;border-width:36px;top:50%;margin-top:-36px}
.wf-active #page #hero.request.header h1{font-size:12em;padding-top:.2em}
.wf-active #page #hero.request.verb h1{font-size:15em;text-transform:uppercase;padding-top:.2em}
.wf-active #page #hero.response.header h1{font-size:10em;padding-top:.3em}
.wf-active #page #hero.response.code h1{font-size:18em}
.wf-active #page #hero.home{height:17em}.wf-active #page #hero.home .resource{display:inline;float:left;width:100%;margin:0 0}.wf-active #page #hero.home .resource h1{font-size:10em;text-transform:uppercase;line-height:1em}
.wf-active #page #hero.home .resource h2{font-size:2.5em}
.wf-active #page #vote{display:block;width:100%;margin:0 0;*zoom:1;margin-top:-2em}.wf-active #page #vote:before,.wf-active #page #vote:after{content:"";display:table}
.wf-active #page #vote:after{clear:both}
.wf-active #page #vote .buttons{display:inline;float:left;width:25%;margin:0 0;text-align:right}.wf-active #page #vote .buttons .button{margin-right:1.5em}.wf-active #page #vote .buttons .button.active i,.wf-active #page #vote .buttons .button:hover i{background-color:#A4BB95}
.wf-active #page #vote .buttons .button.active i.fa-thumbs-down,.wf-active #page #vote .buttons .button:hover i.fa-thumbs-down{background-color:#E48267}
.wf-active #page #vote .buttons .button i{padding:.4em;color:#fff;font-size:2em;width:1em;margin-top:.2em;border-radius:.3em;background-color:#aaa}.wf-active #page #vote .buttons .button i.fa-sign-in{width:7em;font-size:1.4em;padding:.6em;margin-top:.7em}
.wf-active #page #vote #usage_graph{display:inline;float:left;width:66.66666666666666%;margin:0 0;border-bottom:1px solid #999;font:italic 700 3em "chaparral-pro-display",sans-serif;height:1.2em;padding:.2em .4em;-webkit-transition:all .2s ease-out}
.wf-active #page #vote_meta{padding-top:.4em;color:#666;display:block;width:100%;margin:0 0;*zoom:1}.wf-active #page #vote_meta:before,.wf-active #page #vote_meta:after{content:"";display:table}
.wf-active #page #vote_meta:after{clear:both}
.wf-active #page #vote_meta p{display:inline;float:left;width:91.66666666666666%;margin:0 0;margin-left:8.333333333333332%;font-size:1.4em}.wf-active #page #vote_meta p a{text-decoration:none;color:#888}
.wf-active #page #footer{display:block;width:100%;margin:0 0;*zoom:1}.wf-active #page #footer:before,.wf-active #page #footer:after{content:"";display:table}
.wf-active #page #footer:after{clear:both}
.wf-active #page #footer .content{display:inline;float:left;width:100%;margin:0 0;padding:2em;text-align:center;background-color:#ddd;height:10em}
.home table{width:100%}.home table tr{display:block;width:100%;margin:0 0;*zoom:1;width:100%}.home table tr:before,.home table tr:after{content:"";display:table}
.home table tr:after{clear:both}
.home table tr td{display:inline;float:left;width:58.333333333333336%;margin:0 0;font-size:1.4em;margin-bottom:.5em}.home table tr td a{display:block;width:100%;padding:.2em .5em;color:#444;text-decoration:none}
.home table tr td.name{display:inline;float:left;width:16.666666666666664%;margin:0 0;margin-left:8.333333333333332%;text-align:right}.home table tr td.name a{width:90%;padding-right:1em}
.home h3{display:inline;float:left;width:83.33333333333334%;margin:0 0;margin-left:8.333333333333332%;font-size:2em;border-bottom:1px solid #939597;padding-top:.5em;margin-bottom:.5em}.home h3.floating_header{background-color:#fff;position:fixed;top:0;display:none}.home h3.floating_header.active{display:block}
.login h1,.account h1,.login .avatar,.account .avatar{display:inline;float:left;width:83.33333333333334%;margin:0 0;margin-left:8.333333333333332%;text-align:left;font:italic 700 4em/0.6em "chaparral-pro-display",sans-serif;padding:.25em 0}@media screen and (min-width:640px){.login h1,.account h1,.login .avatar,.account .avatar{display:inline;float:left;width:25%;margin:0 0;margin-right:8.333333333333332%;text-align:right}}
.login .connect,.account .connect,.login .info,.account .info{display:inline;float:left;width:83.33333333333334%;margin:0 0;margin-left:8.333333333333332%}@media screen and (min-width:640px){.login .connect,.account .connect,.login .info,.account .info{display:inline;float:left;width:50%;margin:0 0}}.login .connect a.button,.account .connect a.button,.login .info a.button,.account .info a.button{padding:.5em 1.2em .4em 1em;display:inline-block;background-color:#aaa;color:#fff;text-decoration:none;border-radius:.5em;box-shadow:0px .2em 0px #888888}@media screen and (max-width:640px){.login .connect a.button,.account .connect a.button,.login .info a.button,.account .info a.button{margin:.5em auto;font-size:1.5em}}@media screen and (min-width:640px){.login .connect a.button,.account .connect a.button,.login .info a.button,.account .info a.button{margin:0 0 .5em 0;font-size:2em}}.login .connect a.button:hover,.account .connect a.button:hover,.login .info a.button:hover,.account .info a.button:hover{background-color:#bbb}
.login .connect a.button:active,.account .connect a.button:active,.login .info a.button:active,.account .info a.button:active{box-shadow:none;margin:.2em 0 .3em 0}
.account a.button{padding:.5em 1.2em .4em 1em;display:inline-block;background-color:#aaa;color:#fff;text-decoration:none;border-radius:.5em;box-shadow:0px .2em 0px #888888}@media screen and (max-width:640px){.account a.button{margin:.5em auto;font-size:1.5em}}@media screen and (min-width:640px){.account a.button{margin:0 0 .5em 0;font-size:2em}}.account a.button:hover{background-color:#bbb}
.account a.button:active{box-shadow:none;margin:.2em 0 .3em 0}
.account h2{font-size:3em}
.account p{margin:1em 0}
.account .avatar{margin-left:8.333333333333332%;padding:0}
.account .gravatar{padding:.25em;float:right;border:1px solid #ddd;background-color:#efefef;box-shadow:0em .1em .05em #888}
.bar_100{background-image:linear-gradient(90deg, #e87d7d 100%, #ddd 100%)}
.bar_99{background-image:linear-gradient(90deg, #e87d83 99%, #ddd 99%)}
.bar_98{background-image:linear-gradient(90deg, #e87d8a 98%, #ddd 98%)}
.bar_97{background-image:linear-gradient(90deg, #e87d90 97%, #ddd 97%)}
.bar_96{background-image:linear-gradient(90deg, #e87d97 96%, #ddd 96%)}
.bar_95{background-image:linear-gradient(90deg, #e87d9d 95%, #ddd 95%)}
.bar_94{background-image:linear-gradient(90deg, #e87da4 94%, #ddd 94%)}
.bar_93{background-image:linear-gradient(90deg, #e87daa 93%, #ddd 93%)}
.bar_92{background-image:linear-gradient(90deg, #e87db0 92%, #ddd 92%)}
.bar_91{background-image:linear-gradient(90deg, #e87db7 91%, #ddd 91%)}
.bar_90{background-image:linear-gradient(90deg, #e87dbd 90%, #ddd 90%)}
.bar_89{background-image:linear-gradient(90deg, #e87dc4 89%, #ddd 89%)}
.bar_88{background-image:linear-gradient(90deg, #e87dca 88%, #ddd 88%)}
.bar_87{background-image:linear-gradient(90deg, #e87dd0 87%, #ddd 87%)}
.bar_86{background-image:linear-gradient(90deg, #e87dd7 86%, #ddd 86%)}
.bar_85{background-image:linear-gradient(90deg, #e87ddd 85%, #ddd 85%)}
.bar_84{background-image:linear-gradient(90deg, #e87de4 84%, #ddd 84%)}
.bar_83{background-image:linear-gradient(90deg, #e67de8 83%, #ddd 83%)}
.bar_82{background-image:linear-gradient(90deg, #df7de8 82%, #ddd 82%)}
.bar_81{background-image:linear-gradient(90deg, #d97de8 81%, #ddd 81%)}
.bar_80{background-image:linear-gradient(90deg, #d37de8 80%, #ddd 80%)}
.bar_79{background-image:linear-gradient(90deg, #cc7de8 79%, #ddd 79%)}
.bar_78{background-image:linear-gradient(90deg, #c67de8 78%, #ddd 78%)}
.bar_77{background-image:linear-gradient(90deg, #bf7de8 77%, #ddd 77%)}
.bar_76{background-image:linear-gradient(90deg, #b97de8 76%, #ddd 76%)}
.bar_75{background-image:linear-gradient(90deg, #b27de8 75%, #ddd 75%)}
.bar_74{background-image:linear-gradient(90deg, #ac7de8 74%, #ddd 74%)}
.bar_73{background-image:linear-gradient(90deg, #a67de8 73%, #ddd 73%)}
.bar_72{background-image:linear-gradient(90deg, #9f7de8 72%, #ddd 72%)}
.bar_71{background-image:linear-gradient(90deg, #997de8 71%, #ddd 71%)}
.bar_70{background-image:linear-gradient(90deg, #927de8 70%, #ddd 70%)}
.bar_69{background-image:linear-gradient(90deg, #8c7de8 69%, #ddd 69%)}
.bar_68{background-image:linear-gradient(90deg, #867de8 68%, #ddd 68%)}
.bar_67{background-image:linear-gradient(90deg, #7f7de8 67%, #ddd 67%)}
.bar_66{background-image:linear-gradient(90deg, #7d81e8 66%, #ddd 66%)}
.bar_65{background-image:linear-gradient(90deg, #7d88e8 65%, #ddd 65%)}
.bar_64{background-image:linear-gradient(90deg, #7d8ee8 64%, #ddd 64%)}
.bar_63{background-image:linear-gradient(90deg, #7d95e8 63%, #ddd 63%)}
.bar_62{background-image:linear-gradient(90deg, #7d9be8 62%, #ddd 62%)}
.bar_61{background-image:linear-gradient(90deg, #7da1e8 61%, #ddd 61%)}
.bar_60{background-image:linear-gradient(90deg, #7da8e8 60%, #ddd 60%)}
.bar_59{background-image:linear-gradient(90deg, #7daee8 59%, #ddd 59%)}
.bar_58{background-image:linear-gradient(90deg, #7db5e8 58%, #ddd 58%)}
.bar_57{background-image:linear-gradient(90deg, #7dbbe8 57%, #ddd 57%)}
.bar_56{background-image:linear-gradient(90deg, #7dc1e8 56%, #ddd 56%)}
.bar_55{background-image:linear-gradient(90deg, #7dc8e8 55%, #ddd 55%)}
.bar_54{background-image:linear-gradient(90deg, #7dcee8 54%, #ddd 54%)}
.bar_53{background-image:linear-gradient(90deg, #7dd5e8 53%, #ddd 53%)}
.bar_52{background-image:linear-gradient(90deg, #7ddbe8 52%, #ddd 52%)}
.bar_51{background-image:linear-gradient(90deg, #7de2e8 51%, #ddd 51%)}
.bar_50{background-image:linear-gradient(90deg, #7de8e8 50%, #ddd 50%)}
.bar_49{background-image:linear-gradient(90deg, #7de8e2 49%, #ddd 49%)}
.bar_48{background-image:linear-gradient(90deg, #7de8db 48%, #ddd 48%)}
.bar_47{background-image:linear-gradient(90deg, #7de8d5 47%, #ddd 47%)}
.bar_46{background-image:linear-gradient(90deg, #7de8ce 46%, #ddd 46%)}
.bar_45{background-image:linear-gradient(90deg, #7de8c8 45%, #ddd 45%)}
.bar_44{background-image:linear-gradient(90deg, #7de8c1 44%, #ddd 44%)}
.bar_43{background-image:linear-gradient(90deg, #7de8bb 43%, #ddd 43%)}
.bar_42{background-image:linear-gradient(90deg, #7de8b5 42%, #ddd 42%)}
.bar_41{background-image:linear-gradient(90deg, #7de8ae 41%, #ddd 41%)}
.bar_40{background-image:linear-gradient(90deg, #7de8a8 40%, #ddd 40%)}
.bar_39{background-image:linear-gradient(90deg, #7de8a1 39%, #ddd 39%)}
.bar_38{background-image:linear-gradient(90deg, #7de89b 38%, #ddd 38%)}
.bar_37{background-image:linear-gradient(90deg, #7de895 37%, #ddd 37%)}
.bar_36{background-image:linear-gradient(90deg, #7de88e 36%, #ddd 36%)}
.bar_35{background-image:linear-gradient(90deg, #7de888 35%, #ddd 35%)}
.bar_34{background-image:linear-gradient(90deg, #7de881 34%, #ddd 34%)}
.bar_33{background-image:linear-gradient(90deg, #7fe87d 33%, #ddd 33%)}
.bar_32{background-image:linear-gradient(90deg, #86e87d 32%, #ddd 32%)}
.bar_31{background-image:linear-gradient(90deg, #8ce87d 31%, #ddd 31%)}
.bar_30{background-image:linear-gradient(90deg, #92e87d 30%, #ddd 30%)}
.bar_29{background-image:linear-gradient(90deg, #99e87d 29%, #ddd 29%)}
.bar_28{background-image:linear-gradient(90deg, #9fe87d 28%, #ddd 28%)}
.bar_27{background-image:linear-gradient(90deg, #a6e87d 27%, #ddd 27%)}
.bar_26{background-image:linear-gradient(90deg, #ace87d 26%, #ddd 26%)}
.bar_25{background-image:linear-gradient(90deg, #b3e87d 25%, #ddd 25%)}
.bar_24{background-image:linear-gradient(90deg, #b9e87d 24%, #ddd 24%)}
.bar_23{background-image:linear-gradient(90deg, #bfe87d 23%, #ddd 23%)}
.bar_22{background-image:linear-gradient(90deg, #c6e87d 22%, #ddd 22%)}
.bar_21{background-image:linear-gradient(90deg, #cce87d 21%, #ddd 21%)}
.bar_20{background-image:linear-gradient(90deg, #d3e87d 20%, #ddd 20%)}
.bar_19{background-image:linear-gradient(90deg, #d9e87d 19%, #ddd 19%)}
.bar_18{background-image:linear-gradient(90deg, #dfe87d 18%, #ddd 18%)}
.bar_17{background-image:linear-gradient(90deg, #e6e87d 17%, #ddd 17%)}
.bar_16{background-image:linear-gradient(90deg, #e8e47d 16%, #ddd 16%)}
.bar_15{background-image:linear-gradient(90deg, #e8dd7d 15%, #ddd 15%)}
.bar_14{background-image:linear-gradient(90deg, #e8d77d 14%, #ddd 14%)}
.bar_13{background-image:linear-gradient(90deg, #e8d07d 13%, #ddd 13%)}
.bar_12{background-image:linear-gradient(90deg, #e8ca7d 12%, #ddd 12%)}
.bar_11{background-image:linear-gradient(90deg, #e8c47d 11%, #ddd 11%)}
.bar_10{background-image:linear-gradient(90deg, #e8bd7d 10%, #ddd 10%)}
.bar_9{background-image:linear-gradient(90deg, #e8b77d 9%, #ddd 9%)}
.bar_8{background-image:linear-gradient(90deg, #e8b07d 8%, #ddd 8%)}
.bar_7{background-image:linear-gradient(90deg, #e8aa7d 7%, #ddd 7%)}
.bar_6{background-image:linear-gradient(90deg, #e8a47d 6%, #ddd 6%)}
.bar_5{background-image:linear-gradient(90deg, #e89d7d 5%, #ddd 5%)}
.bar_4{background-image:linear-gradient(90deg, #e8977d 4%, #ddd 4%)}
.bar_3{background-image:linear-gradient(90deg, #e8907d 3%, #ddd 3%)}
.bar_2{background-image:linear-gradient(90deg, #e88a7d 2%, #ddd 2%)}
.bar_1{background-image:linear-gradient(90deg, #e8837d 1%, #ddd 1%)}
.bar_0{background-image:linear-gradient(90deg, #e87d7d 0%, #ddd 0%)}
