@import 'grid.less';

@columns: 12;
@light_gray: #eee;
@medium_gray: #939597;

@green: #C1DFA6;
@red: #E09BA2;
@yellow: #F1E190;
@blue: #ABCDE9;

@green-light: #F0F7EA;
@red-light: #F6E7E6;
@yellow-light: #FBF6E4;
@blue-light: #DEE9F7;

@green-text: #5C7048;
@red-text: #7B3018;
@yellow-text: #7E5220;
@blue-text: #286595;

@mobile: ~"only screen and (max-width: 768px)";

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
}

.pure-button-success,
        .pure-button-error,
        .pure-button-warning,
        .pure-button-secondary {
            color: white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
		a.pure-button-primary {background-color: @blue-text !important; color: #fff;}
        .pure-button-success { background: @green-text; /* this is a green */ }
        .pure-button-error { background: @red-text; /* this is a maroon */ }
        .pure-button-warning { background: @yellow; /* this is an orange */ }
        .pure-button-secondary { background: @blue-light; /* this is a light blue */ }
		.pure-button-menu {
		
			color: #666; 
			padding: .6em; 
			font-size: 1.4em;
			margin: .5em;
		}
#loading {
	text-align: center;
	padding: 1em;
	img  {
		max-width: 100px;
	}
}
#mobile_menu {
	.pure-menu {
		margin: 0;
		padding: 0;
		.pure-button {
			margin: 1em;
			font-size: 1.4em;
		}
	}
}
#about, #not_found {
	#content {
		background-color: #fff;
		margin: 1em 1em 2em 1em;
		padding: 0 1em 1em 1em;
		border: 1px solid @medium_gray;
	}
	
}
#header{
	background: #465639 url('../images/map_header.jpg');
	img{
	   padding: 5%;
       width: 90%; max-width: 334px;
    }
	.pure-menu{
		background-color: transparent;
        .pure-menu-heading {
            padding: 5px 10px 10px 10px;
			img {padding: none;}
            
        }
		li a {background-color: #eee; &:hover {background-color: #fff;}}
		
	}
	.pure-u-1-3 {text-align: right;}
}
#login-confirm {
		.pure-button {
			margin-right: 1em !important;
			margin-bottom: 1em;
			font-size: 1.2em;
		}
	.pure-u-2-3 {
		
		.pure-button {
			
		}
	}
		.pure-u-1-3 {
			padding-top: .8em;
		}
	}
.auth_false .resource .grid_vote {display: none;}
.fineprint {
	font-size: .8em;
	color: #888;
}
.modal-inner {
	footer {
		.pure-button {
			margin-top: 1em;
		}
	}

}

.mobile_voting {
	margin-top: .5em;
	.vote_count {display: inline-block; padding-top: .25em; color: @medium_gray; font-size: .8em;}
	
	.vote {
		font-size: .8em;
		color: @medium_gray;
		background-color: @light_gray;
		
		&.vote_down {
			&:hover {.button_grad(@red, @red-text); color: #fff;}
			
		}
		&.vote_up {
			&:hover {.button_grad(@green, @green-text); color: #fff;}
			
		}
		cursor: pointer;
		a {
			color: white;
		}
	}
	&.vote_yes {
		.vote_up {
			color: #333;
			background-color: @green;
			&:hover{ .button_grad(@green, @green-text); color: #fff;}
			
		}
		
	}
	&.vote_no {
		.vote_down {
			color: #333;
			background-color: @red;
			&:hover{ .button_grad(@red, @red-text); color: #fff;}
			
		}
		
	}
}


.home {
     padding: 0;
    #atlas-intro {
		background: #495a39 url('../images/hero-1440.jpg') top center repeat-x;	
		@media @mobile {background-image: url('../images/hero-mobile.jpg');}
		text-shadow: 0 -1px 0 rgba(0,0,0,.5);
		.pure-u-1-3 {text-align: right;}
	}
    
    .atlas-intro {
        
		
		text-align: center;
		color: #fff;
		padding: 10em 0 2em 0;
		border-bottom: 3px solid @green;
		.pure-button-primary {
			font-size: 1.5em;
			h1 {
				margin: 0 1em;
			}
			border: 2px solid @blue;
			box-shadow: 0px 5px 0 @blue;
			border-radius: .5em;
		}
		h2 {
			font-weight: 200;
			max-width: 640px;
			margin: 1em auto;
			padding: 0 1em;
		}
		
		&.pure-hidden-desktop {
			padding-top: 6em;
			.pure-button-primary {
				font-size: 1em;
				border-radius: 1em;
				h1 {
					margin: 0;
				}
			}
			h2 {
				font-size: 1.3em;
			}
		}
    }
	
    #resources {
        background-color: transparent;
		padding: 0 2em; margin: 2em auto;
        @media @mobile { 
			padding: 0 1em; margin: 1em auto;
		} 
            .resource {
                ;
                //&.header, &.verb, &.code {cursor: pointer;}
                margin-bottom: .5em;
                .content{ 
				
                    
                    padding: 0em 0 0 0em;
                    margin: .5em .5em .5em .5em;
                    min-height: 44px;
                    
					
					
					.bar {
						padding: .5em;
						border: 1px solid rgba(0,0,0,.3);
						.tip {
							padding: .25em;
							background-color: #fff;
							text-align: center;
							width: 85px;
							border: 1px solid @medium_gray;
							left: 53%;
							position: relative;
							border-radius: 3px;
							&:before, &:after {
								top: 50%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
							}
							&:after {
								border-color: transparent;
								border-left-color: #fff;
								border-width: 14px;
								margin-top: -14px;
							}
							&:before {
								border-color: transparent;
								border-left-color: @medium_gray;
								border-width: 16px;
								margin-top: -16px;
							}
							&.right {
								&:after , &:before{ 
									right: 100%; 
									border-left-color: transparent;
								}
								&:after {border-right-color: #fff;}
								&:before {border-right-color: @medium_gray;}
							}
							&.left {
								&:before, &:after { left: 100%; }
							}
/* arrows - :before and :after */



						
						
						}
					}
                    .name {
						cursor: pointer;
                        a {
						text-decoration: none; color: inherit;
							&:hover {
								text-decoration: underline;
							}
							.code_name {
								font-size: .7em;
								color: #666;
								font-weight: 200;
							}
						}
						
                        
                        margin: .4em 0 0 0em;
                        text-shadow: 0px 1px 0px hsla(0,0,100,.5);
						white-space: nowrap;
					  	overflow: hidden;
					  	text-overflow: ellipsis;
						
						font-size: 1.8em;
					
						
						
                    }
					
                    &.clearbar_100 {visibility: hidden;}
                }
                &.header {color: @blue-text;} 
                &.verb {color: @green-text;} 
                &.code {
                    color: @yellow-text;
    
                }
                &.title {
                        
                        h3 {
                            text-transform: uppercase;
                            color: #fff;
                            margin: .3em 0 .25em .4em;
                            padding: 0;
                            font-size: 2em;
                            text-shadow: 0px -1px 0px hsla(0,0,0,.5);
							cursor: default;
                        }
                     	   
                    }
            }
           
        
    }
}
body {
	background: url('../images/accent_bg.png');
}
body.resource {
    .resource {
        &.color_blue { color: @blue-text; }
        &.color_green { color: @green-text; }
        &.color_yellow { color: @yellow-text; }
        
        padding: 0 2em;
		@media @mobile {  padding: 0 1em; } 
		
        h1 { 
			font-size: 2em; padding: 0; margin: 1em 0 .25em 0;
			@media @mobile { margin-top: .5em; }
		}
        .votes {
		  div {
            padding: .5em 1em;
            font-weight: 200;
            font-size: 2em;
            border: 1px solid @blue-text;
			margin-bottom: .25em;
			&.request_bar, &.response_bar{
				font-size: .8em;
				margin-bottom: 0;
				padding: .25em 2em;
				border-bottom: none;
			}
			&.response_bar{ border-bottom: 1px solid @blue-text;}
		  }	
		margin-bottom: .5em;
        }
        
        
        .controls {
            margin: .5em 0 .5em 0;
            font-size: 1.4em;
            p {margin-top: 0;}
            a {
                text-decoration: none;
                
                
            	&.inactive {
					color: #333;
					}
			}
			.pure-button {
			}
			.pure-menu{
				li {
					margin: .25em 0;
					
				}
				a { 
					padding-right: 0; 
					&.vote_remove {
						padding: 11px 0 10px 0; margin: 0;
						text-align: right;
						i {
							padding-right: 10px;
						}
					}
					
				}
				.pure-menu-heading {
					font-weight: 800;
					margin-top: 0;
					padding-top: .5em;
					white-space: inherit;
				}
			}
			
			
			 
			
			
			&.vote_null {
                 .clarify_group, .vote_remove, {display: none;}
            }
            &.vote_true {
				
                .vote_no .vote_remove {display: none;}
				.vote_yes a {
					.button_grad(@green, @green-text);
					color: @light_gray;
				}
				
				&.vote_clarify {
					
				}
				
				.clarify_request, .clarify_response {
						color: #333;
						.button_grad(@light_gray, @medium_gray);
						.fa-check-square-o {display: none;}
					}
				
            }
			&.vote_request {
					.clarify_response .fa-check-square-o {display: inline-block;}
					.clarify_response .fa-check-square, .clarify_request .fa-check-square-o, .vote_no .vote_remove {display: none;}
					.clarify_request {
						color: #333;
						.button_grad(@light_gray, @medium_gray);
					}
					.vote_yes a {
						.button_grad(@green, @green-text);
						color: @light_gray;
					}
				}
			&.vote_response {
				.clarify_request .fa-check-square-o {display: inline-block;}
				.clarify_request .fa-check-square, .clarify_response .fa-check-square-o, .vote_no .vote_remove {display: none;}
				.clarify_response {
						color: #333;
						.button_grad(@light_gray, @medium_gray);
					}
				.vote_yes a {
					.button_grad(@green, @green-text);
					color: @light_gray;
				}
			}
            &.vote_false {
                .clarify_group, .vote_yes .vote_remove {display: none;}
				.vote_no a {
					.button_grad(@red, @red-text);
					color: @light_gray;
				}
            }
			
			.clarify_group {
				padding-left: 2em;
			}
			i {font-size: 1em;}
        }
		&.resource_header .controls.vote_true .clarify_group  {display: block;} 
		.scrub {
			margin-top: 1em;
			a {
				margin-right: 1em;
				margin-bottom: 1em;
			}
		}
        #comments {
            margin: 2em 1em 0 0;
        }
        .pure-u-1-2 { 
            margin-top: 1em;
            h3 { margin: 0 1em 0 0; }
            p {
                padding: 1em; 
                border: 1px solid #ccc;
                background-color: #eee;
                margin: .25em 1em 0 0;
            }
        }
    }
}
#footer {
    margin-top: 1em;
    padding-top: 1em;
    padding: 2em 2em 10em 2em;
    
	background-color: rgba(0,0,0,.5);
}

//yes, this pre-renders a ton of css rules (300 progress bar backrounds * versions for prowser compatiability). 
//How to optimize? 

@iterations: 100; //number of gradient steps. 100 models 0-100%

.loopingClass (@index) when (@index > -1){
   
    .greenbar_@{index} { .grad(@green-light, @green, @index); }
    .yellowbar_@{index}{ .grad(@yellow-light, @yellow, @index); }
    .bluebar_@{index} { .grad(@blue-light, @blue, @index); }
    
    .loopingClass(@index - 1); //must be recursive
}

.loopingClass (@iterations);

.grad(@bg, @fill, @stop){
    background: -moz-linear-gradient(left,  @fill ~"@{stop}%", @bg ~"@{stop}%"); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(~"@{stop}%",@fill), color-stop(~"@{stop}%",@bg)); /* Chrome,Safari4+ */
    background: -ms-linear-gradient(left,  @fill ~"@{stop}%",@bg ~"@{stop}%"); /* IE10+ */
    background: linear-gradient(90deg,  @fill ~"@{stop}%",@bg ~"@{stop}%"); /* W3C */
}

.button_grad(@bottom, @top){
	background: -moz-linear-gradient(bottom,  @bottom ~"0%", @top ~"100%"); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(~"0%",@bottom), color-stop(~"100%",@top)); /* Chrome,Safari4+ */
    background: -ms-linear-gradient(bottom,  @bottom ~"0%",@top ~"10%"); /* IE10+ */
    background: linear-gradient(180deg,  @bottom ~"0%",@top ~"100%"); /* W3C */

}



